*.asc
*.aps
*.bat
*.lib
*.opensdf
*.patch
*.pdb
*.project
*.pydevproject
*.sdf
*.suo
*.tar.gz
*.vcxproj.user
./Doc/C/html
./Doc/C/latex
./Doc/C++/html
./Doc/C++/latex
./Examples/C-Skeleton/projects/make/build*
./Examples/C-Skeleton/projects/vs2010/Debug
./Examples/C-Skeleton/projects/vs2010/ipch
./Examples/C-Skeleton/projects/vs2010/Release
./Examples/C-Skeleton/projects/vs2010/x64
./Examples/C-Skeleton/projects/vs2012/Debug
./Examples/C-Skeleton/projects/vs2012/Release
./Examples/C-Skeleton/projects/vs2012/x64
./Examples/C++-Skeleton/projects/make/build*
./Examples/C++-Skeleton/projects/vs2010/Debug
./Examples/C++-Skeleton/projects/vs2010/ipch
./Examples/C++-Skeleton/projects/vs2010/Release
./Examples/C++-Skeleton/projects/vs2010/x64
./Examples/C++-Skeleton/projects/vs2012/Debug
./Examples/C++-Skeleton/projects/vs2012/Release
./Examples/C++-Skeleton/projects/vs2012/x64
./Packaging/info_generated.xml
